#temp_background{
    width: 75%;
    height: 600px;
    display: block;
    margin-top: 5%;
    margin-left: auto;
    margin-right: auto;
}
#homepage{
    background-color: #231249 ;
}
.navigation{
    list-style-type: none; 
    text-align: center;
    margin-left: 0px;
    margin-right: 140px;
    padding-bottom: 25px;
    margin-bottom: -50px;
}
.navItem{
    display: inline-block;
    font-size: 12px;
    padding: 100px;
}
.nav{
    font-family:Arial, Helvetica, sans-serif;
    font-size: 12pt;
}
.nav:link{
    text-decoration:none;
    color: #231249;
}
.nav:visited{
    text-decoration: none;
    color: #231249;
}
.nav:hover{
    text-decoration: none;
    color: #A652C8;
}
nav {
    margin-top: -125px;
    margin-left: -10px;
    width: 105%;
    padding-top: 80px;
    display: grid;
    background-color:#e3d9e9;
}